---
# API keys
slskd_api_key: "CHANGE_ME"
prowlarr_api_key: "CHANGE_ME"
radarr_api_key: "CHANGE_ME"
sonarr_api_key: "CHANGE_ME"

# Login Credentials
smb_password: "CHANGE_ME"
soulseek_username: "CHANGE_ME"
soulseek_password: "CHANGE_ME"
slskd_username: "CHANGE_ME"
slskd_password: "CHANGE_ME"
navidrome_username: "admin" # Should be "admin" for the default admin user
navidrome_password: "CHANGE_ME"
navidrome_salt: "CHANGE_ME"
jellyfin_username: "admin"
jellyfin_password: "CHANGE_ME"
qbittorrent_username: "admin"
qbittorrent_password: "CHANGE_ME"

# Replace this with the actual UUID of the NVMe drive you want to use for the ZFS pool. You can find it using `lsblk -o NAME,UUID` on the target host.
nvme_uuid: "CHANGE_ME"

# Replace these with the actual PARTUUIDs of the disks you want to use for the ZFS pool. You can find them using `lsblk -o NAME,PARTUUID` on the target host.
zfs_disk1_partuuid: "CHANGE_ME"
zfs_disk2_partuuid: "CHANGE_ME"

media_puid: 1000
media_pgid: 1000

# Services
base_url: "http://CHANGE_ME"

service_ports:
  homepage: 3000
  musicgrabber: 8080
  slskd: 5030
  navidrome: 4533
  jellyfin: 8096
  # qbittorrent shares gluetun's network
  qbittorrent: 8080
  prowlarr: 9696
  radarr: 7878
  sonarr: 8989
  bazarr: 6767


# VPN configuration
vpn_wireguard_private_key: "CHANGE_ME"
vpn_wireguard_addresses: "CHANGE_ME"
vpn_server_countries:
  - "CHANGE_ME"

# HDD spindown configuration
hdd_spindown_enabled: true
hdd_spindown_devices:
  - device: "/dev/disk/by-partuuid/{{ zfs_disk1_partuuid }}"
    timeout: 3600
  - device: "/dev/disk/by-partuuid/{{ zfs_disk2_partuuid }}"
    timeout: 3600