---
# Encrypt this file with: ansible-vault encrypt group_vars/all/vault.yml
vault_smb_password: "CHANGE_ME"

# API keys
vault_slskd_api_key: "CHANGE_ME"

# Login credentials
vault_soulseek_username: "CHANGE_ME"
vault_soulseek_password: "CHANGE_ME"
vault_slskd_username: "CHANGE_ME"
vault_slskd_password: "CHANGE_ME"
vault_navidrome_username: "CHANGE_ME"
vault_navidrome_password: "CHANGE_ME"

# Replace this with the actual UUID of the NVMe drive you want to use for the ZFS pool. You can find it using `lsblk -o NAME,UUID` on the target host.
vault_nvme_uuid: "CHANGE_ME"

# Replace these with the actual PARTUUIDs of the disks you want to use for the ZFS pool. You can find them using `lsblk -o NAME,PARTUUID` on the target host.
vault_zfs_disk1_partuuid: "CHANGE_ME"
vault_zfs_disk2_partuuid: "CHANGE_ME"