---
# https://gethomepage.dev/configs/settings/

title: Homelab Dashboard
theme: dark
color: zinc
useEqualHeights: true

layout:
  Music:
    style: row
    columns: 4
  Movies:
    style: row
    columns: 3
  Images:
    style: row
    columns: 3
