[Unit]
Description=Navidrome - Music Collection Manager

[Container]
Image=docker.io/deluan/navidrome:latest
ContainerName=navidrome
Network=vps-services.network
PublishPort=4533:{{ service_ports.navidrome }}
Volume=/mnt/nvme/navidrome/data:/data
Volume=/mnt/nvme/media/music:/music

[Install]
WantedBy=multi-user.target default.target