[Unit]
Description=Automatic Disk Standby
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/hdd-spindown.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
