[Unit]
Description=Slskd - Soulseek Daemon

[Container]
Image=docker.io/slskd/slskd:latest
ContainerName=slskd
Network=vps-services.network

PublishPort={{ service_ports.slskd }}:5030
PublishPort=5031:5031
PublishPort=50300:50300

Volume=/mnt/nvme/services/slskd:/app
Volume=/mnt/nvme/media/slskd_downloads:/downloads

Environment=SLSKD_DOWNLOADS_DIR=/downloads
Environment=PUID={{ media_puid }}
Environment=PGID={{ media_pgid }}
[Install]
WantedBy=multi-user.target default.target